
<div class="col-lg-8 col-md-8 col-sm-8">
  <br>
  {{#each models}}
  	<h3>{{name}}</h3>
    <table class="info-table table">
      <tr>
        <th>Name</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>{{country}}</td>
      </tr>
      <tr>
        <th>Tournament</th>
        <td>{{tournament}}</td>
      </tr>
        <th>Tour</th>
        <td>{{tour}}</td>
      </tr>
      <tr>
        <th>Capacity</th>
        <td>{{capacity}}</td>
      </tr>
      <tr>
        <th>Rank</th>
        <td>{{rank}}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{city}}</td>
      </tr>
    </table>
  {{/each}}
</div>
